* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-contant h2 {
    font-family: "Amatic SC", sans-serif !important;
    font-weight: 400;
    font-style: normal;
    font-size: 49px;
    color: #212529;
}



/*------------- header-section---------- */


/* .navbar-nav a{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
} */
.navbar-brand {
    font-weight: bold;
    font-size: 34px !important;
}

.nav-link {
    color: #7f7f90;
    font-size: 18px !important;
    font-weight: bold;
    padding-right: 20px !important;
}


/*--------- slider-section --------- */
.slidedr-btn a {
    text-decoration: none;
    color: black;
}


.slider-btn {
    background-color:  #ce1212!important;
    font-size: 15px;
}

.enjoy-food h2 {
    font-size: 60px;
    font-weight: 900;
}

.enjoy-food p {
    font-size: 15px;

}

.slider-img img {
    width: 82%;
}

.video-btn i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border: 1px solid #ce1212;
    color: #ce1212;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 9px;
}

.video-btn {
    background-color: transparent;
    border: none;
    outline: none;
}


/*-------- About---------- */

.about-contant small {
    color: #7f7f90;
}

.nav-link {
    font-weight: 650 !important;
}

.about-img {
    background-image: url(./img/about.jpg);
    width: 100%;
    height: 727px;
    background-repeat: no-repeat repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.numbers {
    font-weight: 700;
    color: #ce1212;
}
.about-dsc i {
    color: #ce1212;
    padding-right: 10px;
}

.book-table {
    position: absolute;
    bottom: 56px;
    left: 83px;
    padding: 17px 127px;
}

.about-vedio {
    position: relative;
}

.about-btns {
    position: absolute;
    border: 1px solid #ce1212;
    width: 55px;
    height: 55px;
    font-size: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.about-btns::after,
.about-btns::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50px !important;
    z-index: -1;
}

.about-btns::after {
    background-color: #ce121294 !important;
    transform: scale(1.5, 1.5);
}

.about-btns::before {
    border: 9px solid rgba(206, 18, 18, 0.7);
    /* height: 70px;
    width: 70px;
    border-radius: 70px; */
    animation: pulse 2s forwards infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(.5, .5);
        opacity: 1;
    }

    100% {
        transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

.about-btns i {
    color: white;
}



/*----------- why-choose---------- */

.why-choose{
    color: #ce1212 !important;
}
.why-choose:hover{
    transform: scale(1.1) ;
}
.choosebtn button{
    background: rgba(255, 255, 255, 0.18);
    border: transparent;
}
.yummy-con {
    margin-top: 80px !important;
}
.choose-right:hover{
    transform: scale(1.1) ;
}
.choose-right i {
    color: #ce1212;
    background-color: rgba(206, 18, 18, 0.1);
    font-size: 28px;
    width: 65px;
    height: 64px;
    border-radius: 65px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.choose-right h4 {
    font-size: 21px;
    font-weight: 400;
}

.choose-right p {
    color: #7f7f90;
}


/*------- count-duration--------- */

.count-duration {
    background-image: url(./img/stats-bg.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.count-duration::after {
    content: '';
    position: absolute;
    width: inherit;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 11);
    opacity: 0.5;
}

.durations {
    z-index: 1;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.durations h2 {
    font-size: 55px !important;
}



/*--------- menu---------- */

.menu-heading{
   
    width: 50% !important;
    margin: auto !important;
}
.list-group a{
    border: none;
    border-bottom: 2px solid #6c757d;
    margin-right: 22px;
    width: 17%;

}
.menuSection {
    display: none;

    &.active {
        display: block;
    }
}




.menu-list {
    flex-direction: row !important;
}

.starting-img img {
    width: 80%;
}

.start-det {
    color: #8d8d9b;
    font-size: 17px;
    margin: auto;
}

.start-price {
    font-size: 26px;
    color: #ce1212;
    font-weight: 700;
}


.testimonial {
    background-color: #eee;
}

.testiminal-img img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 4px solid white;

}

.testiminal-content {
    border-left: 2px solid #ce1212;
    margin: auto;
}

.testiminal-content p {
    font-style: italic;
    font-size: 18px;
}

.testiminal-content i {
    color: #f05656;
    font-size: 20px;
}

.testiminal-content h3 {
    font-size: 20px;
    color: #212529;
}

.testiminal-content h4 {
    font-size: 16px;
    color: #6c757d;
}

.starts i {
    color: #ffc107;
    font-size: 14px;
}

.indictr-test {
    margin-bottom: -30px !important;
}

.curosel-btn {
    border: 1px solid transparent !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    background-color: #8d8d9b !important;
}

.carousel-indicators .active {
    background-color: #ce1212 !important;
}

.carousel-inner {
    padding-bottom: 7rem !important;
}



/*----------- Events---------- */

.membr-img {
    position: relative;
}

.membr-img:hover {
    border: 1px solid #d1cdca;
}
.card-bod h2{
    border-bottom: 2px solid #ce1212;
    padding-top: 10px;

}

.membr-img::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    background-image: url(./img/team-shape.svg);
    width: 100%;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position:bottom; */
}



.carousel-inner {
    /* position: relative; */
}

.card {
    height: 500px !important;
    text-align: start;
    position: relative !important;
}

.card::after {
    /* content: '';
    position: absolute !important;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9) !important;
    opacity: 0 !important; */

}

.test1 {
    background-image: url(./img/events-1.jpg) !important;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.test1::before,
.test2::before,
.test3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.329) !important;
}

.test2 {
    background-image: url(./img/events-2.jpg) !important;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.test3 {
    background-image: url(./img/events-3.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.curosel-btns {
    border: 1px solid transparent !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 15px !important;
    background-color: #8d8d9b !important;
}

.indicater-event {
    margin-bottom: -40px !important;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
}


/*-------- CHEFS---------- */

.chefsbg {
    background-color: #eee;
}

.card-chef {
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);
    border-radius: 13px;
    background-color: white;
    /* transition: all 1s ease-in-out 1s; */
}

.card-chef:hover {
    transform: scale(1.1);
}

.card-contain {
    padding: 10px 11px;
}

.card-contain span {

    color: rgba(33, 37, 41, 0.4);
}

.card-contain p {
    color: rgba(33, 37, 41, 0.7);
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 0.6px;

}

.card-contain h4 {
    font-size: 26px;
    font-weight: 700;
}


/*--------- book a table ------------*/


.tables-back {
    background-color: rgba(55, 55, 63, 0.04);
}

input:hover {
    border: 1px solid #ce1212;
}

input[type=text]:focus {
    outline: none;
    box-shadow: none;
}

input[type=email]:focus {
    outline: none;
    box-shadow: none;
    border-radius: 0px;
}

textarea {
    outline: none !important;
    box-shadow: none !important;
}

textarea:hover {
    border: 1px solid #ce1212;
}

.table-btn {
    background-color: #ce1212 !important;
    padding: 0px 60px !important;
    font-size: 20px !important;
}

/* --------GALLERY---------- */

.gallary-btn {
    width: 20px !important;
    height: 20px !important;
    border-radius: 20px !important;
    border: 1px solid !important;
    background-color: #8d8d9b !important; 
}

/* ------------CONTACT----- */

.content-icons i {
    background-color: #ce1212;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    padding: 0;
}


.content-icons {
    background-color: #f4f4f4;

}

.contact-form {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.08);

}



/*------------ footer--------- */

.footer i {
    margin-right: 10px;
    font-size: 20px;
}

.footer p {
    color: rgba(255, 255, 255, 0.7);
}

.footer-icon i {
    width: 40px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 40px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-right: 5px;
}

.designd span {

    border-bottom: 1px solid white;
}

.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}